:host(app-nav) {
  padding-top: 0;
  padding-bottom: 8em;
  display: grid;

  header {
    position: fixed;
    z-index: 999;
    width: 100%;

    nav {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      padding: 8px 16px;
      color: #474c55;
      height: 6em;
      background: #f5f5f5;

      /deep/ .mat-button {
        color: #fff;
        margin-right: 1em;
        background: #e2231a;
      }

      /deep/ .mat-button-wrapper {
        color: #fff;
      }

      /deep/ .mat-input-placeholder {
        font-weight: 100;
        color: #474c55;
      }

      /deep/ .mat-input-underline {
        background-color: #474c55;
        bottom: 1.5em;
      }

      /deep/ .mat-input-infix {
        border-top: 1.2em solid transparent;
      }

      .fill-space {
        // This fills the remaining space, by using flexbox.
        // Every toolbar row uses a flexbox row layout.
        flex: 1 1 auto;
      }

      img {
        vertical-align: middle;
      }
    }
  }
}
