/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

* {
  font-family: 'Ropa Sans', sans-serif;
  color: #474c55;
}

body {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}

a, .cp {
  cursor: pointer;
}

.mat-dialog-container {
  background: #e2231a;
}

.mat-dialog-content {
  color: #FFFFFF;
}

.mat-simple-snackbar{
  color: #FFFFFF;
}

.mat-simple-snackbar-action{
  color: #e2231a;
}
